@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Unbounded", cursive;
  height: 1000px;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  padding: 10px 0;
  /* z-index: 2; */
}

ul {
  justify-content: space-between;
  list-style: none;
  display: flex;
  /* z-index: 2; */
}

li a {
  font-size: 0.8rem;
  transition: all 1s;
}

li a:hover {
  text-decoration: line-through;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: rgba(125, 120, 120, 0.449);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  right: 0;
}

.hello {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(235, 238, 241);
  font-size: 6rem;
  padding: 5px 10px 0 0;
  opacity: 0.1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

P {
  color: #444;
  line-height: 1.3;
  letter-spacing: 3px;
}

section {
  background-color: rgb(4, 11, 14);
  /* background-color: blanchedalmond; */
  /* color: white; */
  padding: 2.5rem 0;
  width: 100%;
  /* margin: 3rem 0; */
}

main {
  padding: 5rem 0;
}

.btn {
  background-color: #444;
  padding: 10px 5px;
  margin: 20px 0;
  border-radius: 5px;
  transition: all 0.6s;
  display: flex;
  justify-content: center;
  width: 100%;
}

.resume {
  background-color: rgba(49, 95, 113, 0.193);
}

.btn:hover,
.btn:active {
  background-color: rgba(49, 95, 113, 0.193);
}

.hero h1 {
  text-transform: uppercase;
  padding-top: 2rem;
  font-size: 1.7rem;
  /* line-height: 0.9; */
  color: white;
  letter-spacing: 2px;
}

h4 {
  color: rgb(247, 244, 244);
  padding: 1rem 0;
  font-size: 1.3rem;
}

h1 {
  font-size: 2.5rem;
}

.white-font {
  color: white;
}

.font-size {
  font-size: 1.5rem;
}

.about {
  /* padding: 0px 0 20px 0; */
  /* display: flex; */
  /* justify-content: center; */
}

.exp {
  padding: 50px 0 5px 0;
  /* display: flex; */
  /* justify-content: center; */
  font-size: 2rem;
}

.my-1 {
  margin: 10px 0;
}

.service-container {
  color: white;
  padding: 1.5rem 0;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  /* width: 60%;
  margin: 0 auto; */
}

.services {
  padding: 30px 0;
  /* display: flex; */
  font-size: 2rem;
  /* justify-content: center; */
}

hr {
  height: 1px;
  width: 100%;
  border: none;
  color: rgb(236, 31, 31);
  background-color: #444;
  margin: 1rem 0;
}

footer {
  background-color: rgb(4, 11, 14);
  padding: 1rem 0;
  color: white;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.1rem;
  width: 2rem;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: #444;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.flex-section {
  padding: 2.5rem 0;
}

.flex-section-2 {
  padding: 2.5rem 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-h2 {
  font-size: 1rem;
  /* color: rgb(49, 95, 113); */
}

.icon-flex {
  width: 50px;
}

/* ******************** */
/* FAQs */
/* ********************* */

.faq-flex {
  display: flex;
  flex-direction: column;
}

.faq-flex h2 {
  color: #333;
}

.container .tab {
  position: relative;
  /* width: 80%; */
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(138, 132, 132);
}

.container .tab input {
  appearance: none;
}

.container .tab label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container .tab label::after {
  content: "+";
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.1);
  transition: transform 1s;
}

.container .tab:hover label::after {
  color: #333;
}

.container .tab input:checked ~ label::after {
  transform: rotate(135deg);
  color: white;
}

.container .tab label h2 {
  width: 40px;
  height: 40px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.25em;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px 10px;
}

.container .tab:nth-child(1) label h2 {
  /* background-color: rgba(31, 175, 232, 0.193); */
}

/* .container .tab input:checked ~ label h2 {
  position: absolute;
  top: o;
  left: 0;
  width: 100%;
  height: 100%;
} */

.container .tab label h3 {
  position: relative;
  font-weight: 500;
  color: #333;
  z-index: 10;
  /* padding: 10px 10px; */
}

.container .tab .content {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

.container .tab input:checked ~ .content {
  max-height: 100vh;
}

.container .tab .content p {
  position: relative;
  padding: 10px 0;
  color: #fff;
  z-index: 10;
}

/* @keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX("-10deg");
  }

  to {
    opacity: 1;
    transform: rotateX("0");
  }
} */

@media screen and (min-width: 800px) {
  .flex-section-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
  }

  .font-size {
    font-size: 3rem;
  }

  .flex-section p,
  .flex-section-2 p {
    font-size: 1.5rem;
  }

  .hero h1 {
    font-size: 5rem;
  }

  .hero p {
    font-size: 2rem;
  }

  .flex {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .container .tab {
    width: 70%;
  }
}

@media screen and (max-width: 350px) {
  .faq-flex h1 {
    font-size: 17px;
  }
}

@media screen and (max-width: 265px) {
  .hero h1 {
    font-size: 20px;
  }
  .hero p {
    font-size: 10px;
  }

  .exp {
    font-size: 15px;
  }

  .flex-section-2 p {
    font-size: 10px;
  }

  .about {
    font-size: 20px;
  }

  .flex-section p {
    font-size: 10px;
  }

  li a {
    font-size: 10px;
  }

  .icon-flex {
    width: 20px;
  }
  .flex-h2 {
    font-size: 13px;
  }

  .faq-flex p {
    font-size: 10px;
  }

  .faq-flex h3 {
    font-size: 15px;
  }
}

/* .flex-section p {
  color: red;
  width: 60%;
} */
